body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/S%C3%A3o_Bento_do_Sapuca%C3%AD_-_SP_%2851354681224%29.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

#main_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main_image img {
  width: 180px;
}

#boas_vindas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #044c92;
  background-color: #f7fdff1c;
  backdrop-filter: blur(50px);
  transition: background-color 0.5s ease;
  border: 0.1px solid #f7fdff3a;
  border-radius: 20px;
}

#boas_vindas:hover {
  background-color: #f7fdff42;
}

#boas_vindas h1 {
  margin: 5%;
  font-size: 350%;
}

#boas_vindas h2 {
  margin: 5%;
  color: black;
  font-size: 150%;
}

#boas_vindas p {
  margin: 5%;
  display: flex;
  color: black;
  font-size: 130%;
}

#boas_vindas img {
  margin: 1%;
  width: 50%;
  height: auto;
  border: 0.1px solid #f7fdff3a;
  border-radius: 20px;
}

.main_texts {
  flex: 1;
  padding: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.botoes button {
  background: #044c92;
  color: #fff;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transform: scale(0.98);
  transition: 0.3s ease;
}

.botoes button:disabled {
  transform: scale(0.96);
  opacity: 0.5;
}

.botoes button:enabled:hover {
  background: #774f9e;
  transform: scale(1);
}

.botoes button:enabled:active {
  transform: scale(0.96);
  background: #492969;
}
