#boas_vindas {
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
  color: #044c92;
}

#boas_vindas h1 {
  margin-bottom: 5%;
  margin-top: 0%;
  font-size: 350%;
}

#boas_vindas h2 {
  margin: 3%;
  color: black;
  font-size: 150%;
}

#boas_vindas p {
  color: black;
  font-size: 130%;
}

.main_creators_images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_creators_images a {
  display: inline-block;
  text-decoration: none;
}

.main_creators_images a img {
  width: 70%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding: 0%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.main_creators_images a img:hover {
  transform: scale(1.1);
}

.main_creators_images a p {
  font-size: 120% !important;
  font-weight: bold;
  color: #044c92 !important;
}

.main_creators_images a p:hover {
  color: #774f9e !important;
}
