/* Evita flick quando o scrollbar aparece */
html {
  overflow-y: overlay; /* Ajuste essencial */
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: overlay;
}

main {
  padding: 1rem;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-header {
  visibility: hidden;
  pointer-events: none;
  height: 75px;
  display: block;
}
